.container{
  * {
    margin: 0;
    padding: 0;
    font-size: 0.16rem;
  }

  >.content{
    >.header{
      > h4{
        font-size: 0.3rem;
        color: #000;
      }

      .flexBox{
        display: flex;

        .div1{
          padding: 3px;
          background-image: linear-gradient(to right, rgb(247, 243, 236), rgb(245, 225, 188));
          margin-right: 0.1rem;
          position: relative;

          .div2{
            width: 1rem;
            height: 1rem;
          }

          .border{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 3px solid #000;
          }
        }
      }
      
    }

    .info{
      padding: 0.1rem;
      // 从这开始
      .ticket-item{
        width: 100%;
        height: 2.1rem;
        padding: 0.5rem 0;
        border-radius: 10px;
        box-sizing: border-box;
        background-image: linear-gradient(to right, rgb(247, 243, 236), rgb(245, 225, 188));
        overflow: hidden;
        position: relative;

        .extra-node{
          position: absolute;
          left: 0.08rem;
          top: 0.08rem;

          .btn{
            list-style: none;
            outline: none;
            border: none;
            border-radius: 10px;
            padding: 0.04rem 0.08rem;
            background-image: linear-gradient(to right, orange, red);
          }
        }

        .parent{
          width: 100%;
          height: 100%;
          display: flex;
          
          .left, .right, .center{
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
          }

          .left, .center{
            justify-content: end;

            .title{
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              

              .price-text{
                font-size: 0.5rem;
              }
            }

            .bottom-text{
              .condition-text{
                font-size: 0.22rem;
                color: #ff0000;
              }
            }
          }

          .left{
            padding: 0 0.3rem;

            .title{
              color: #ff0000;
              font-size: 0.3rem;
            }
          }

          .center{
            width: 0;
            flex-grow: 1;
            overflow: hidden;

            .title{
              font-size: 0.42rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }

          .right{
            padding: 0 0.2rem;
            justify-content: space-between;
            border-left: 1px dashed #ccc;

            .right-condition-text{
              font-size: 0.2rem;
              color: rgb(167, 162, 162);

              .price-text{
                color: #ff0000;
              }
            }

            .go-swell{

              .swell-btn{
                color: #fff;
                width: 100%;
                height: 0.58rem;
                line-height: 0.58rem;
                border-radius: 20px;
                background-image: linear-gradient(to right, orange, red);
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}